<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Contact</title>
    <link href="/css/common.css" rel="stylesheet"/>
</head>
<body>
<h3 th:text="#{updateContact}" />

<form th:object="${contact}" method="post" th:action="@{/contacts/add}">
    <table>
        <tr>
            <td th:text="#{firstName}" />
            <td><input required th:field="*{firstname}" /></td>
        </tr>
        <tr>
            <td th:text="#{lastName}" />
            <td><input required th:field="*{lastname}" /></td>
        </tr>
        <tr>
            <td th:text="#{email}" />
            <td><input required th:field="*{email}" /></td>
        </tr>
        <tr>
            <td th:text="#{photo}" />
            <td><input required th:field="*{photo}" /></td>
        </tr>
    </table>
    <input type="submit" th:value="#{add}" />
    <input type="reset" th:value="#{reset}" />
</form>
</body>
</html>